<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="styleInicio.css" />

        <title>Far-ita</title>
    </head>
    <body>
        <section class="container">
            <div class="title">
                <img id="farr" src="./images/farrita.png" />
            </div>
            <div class="espacio"></div>

            <div class="image">
                <img src="./images/letrero.png" />
            </div>
            <div class="create">
                <h2 class="create-farita"><a href="./login.html" style="color: #fff"> CREATE FAR-ITA</a></h2>
            </div>
        </section>
    </body>
</html>
