@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: rgb(52, 58, 64);
    background-image: url(images/fondo6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2.create-farita {
    font-size: 2rem;
    color: #fff;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 20px 40px;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem #f40, 0 0 4rem #f40, 0 0 6rem #f40, 0 0 8rem #f40, 0 0 10rem #f40;
    box-shadow: 0 0 0.5rem #fff, 0 0 0.5rem #fff, insert 0 0 2rem #08f, insert 0 0 2rem #08f, 0 0 4rem #08f, insert 0 0 4rem #08f;
}
.container {
    border-radius: 2rem;
    border: 2rem;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.2);
}
#farr {
    width: 100%;
    max-width: 850px;
    text-align: center;
    margin: auto;
    display: block;
}

.image {
    margin: auto;
    width: 400px;
    vertical-align: middle;
    margin-bottom: 100px;
}
.create {
    vertical-align: bottom;
    margin-top: 50px;
}

.create-farrita {
    color: #fff;
}
