<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <link href="style.css" rel="stylesheet" type="text/css" media="all">

    <title>Far-ita</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light ">
        <div class="contanier-fluid">
            <img id="head" src="images/farrita.png">
        </div>
        <div class="row justify-content-center">
            <div class="col center-block">
                <button class=btn style="background-color: transparent; float:middle;"> <img id=grupo
                        src="images/grupo.png" height=50; alt="Grupo"> </button>
            </div>
            <div class="col center-block">
                <button class=btn style="background-color: transparent;float:middle;"> <img id=exportar
                        src="images/exportar.png" height=40; alt="Exportar"> </button>
            </div>
            <div class="col center-block">
                <button class=btn style="background-color: transparent;float:middle;"> <img id=copia
                        src="images/copia.png" height=40; alt="Copia"> </button>
            </div>
            <div class="col" id="main">
                <button class="openbtn" onclick="openNav()" style="background-color: transparent;float:middle;"><img
                        src="images/videollamada.png" height=45; alt="Chat"></a>

            </div>
        </div>
    </nav>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col">
                <div class="row">
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                </div>
                <div class="row">
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                </div>
                <div class="row">
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                    <div class="col"> <img id="persona" src="images/nina.png"></div>
                </div>
            </div>

            <div class="col" id=mySidebar style="background-color: white">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:black;">X
                    <p>
                        AQUI VA EL CHAT
                    </p></a>
            </div>
        </div>
    </div>

    <footer>
        <div id="nav" class="navbar">
            <ul id="nav-center" class="nav navbar-nav navbar-center">

                <a><button  class=btn style="background-color: transparent;">
                     <img id="micro" onclick="changeImageMicro()" src="./images/microfono-2.png" height=50; alt="Micro" > 
                    </button></a>
                <a><button class=btn style="background-color: transparent;">
                     <img src="./images/llamada.png" height=50;  alt="Micro"> </button></a>
                <a><button class=btn style="background-color: transparent;"> <img
                            src="./images/Copia de camara-de-video.png" height=50; alt="Micro"> </button></a>
            </ul>

        </div>
    </footer>

    <script>
        function openNav() 
        {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() 
        {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
        }

        function changeImageMicro() 
        {
            var image = document.getElementById('micro');
            if (image.src.match("bulbon")) 
            {
                image.src = "./images/microfono.png";
            } 
            else {
                image.src = "./images/microfono-2.png";
            }
        }
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>